In [73]:
metin = "string"
type(metin)

str

In [74]:
sirket = "sirket"
len(sirket)

6

In [75]:
def course(company, year):
    metin = "This course prepared by {} in {}   ".format(company, year)
    return metin

course("coderspace",2024)

'This course prepared by coderspace in 2024   '

In [76]:
list = [1,2,3,4,5,"e"]
print(list)
type(list)

[1, 2, 3, 4, 5, 'e']

list

In [77]:
list[1:4]

[2, 3, 4]

In [78]:
list.append("yeni")

In [79]:
list

[1, 2, 3, 4, 5, 'e', 'yeni']

In [80]:
list.reverse()
list.count("yeni")
list.remove(2)
list

['yeni', 'e', 5, 4, 3, 1]

In [81]:
tuple = (1,2,3,4) 
tuple.append(2) #tupple is unchangeable

AttributeError: 'tuple' object has no attribute 'append'

In [82]:
dictionary = {"İstanbul":34, "Malatya":44}
dictionary

{'İstanbul': 34, 'Malatya': 44}

In [83]:
dictionary["Malatya"]

44

In [84]:
dictionary.keys()

dict_keys(['İstanbul', 'Malatya'])

In [85]:
dictionary.values()

dict_values([34, 44])

In [86]:
print("I love say 'good morning' to everyone ")

I love say 'good morning' to everyone

In [87]:
id(dictionary)

2689320807872

In [88]:
number = 3j +4 
type(number)

complex

In [89]:
numeriks = 100 
print(numeriks//3)
print(numeriks%3)

33
1

In [ ]:
print("a"+"\t" +"b") #\t means in python tab